<h1 style="text-align: center">404</h1>
<img src="{{ asset('bundles/admingeneratoroldtheme/images/composer.jpeg') }}" style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;" alt="404 :(" />