# Generic Files
*~
*.lock
*.DS_Store
*.swp
*.out

# Bootstrap
app/bootstrap*

# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
vendor/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/nbproject/
